.App {
    background: #fff;
    text-align: left;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.flex>*>* {
    display: block;
    padding: .3em 0;
    background: #09d3ac;
    text-align: center;
}
.flex > div {
    padding-left: 0.2em;
    border-radius: 1px;
}

.flex > div > span {
    border-radius: 3px;
    height: 55px;
}

.status-bar-fill{
    height: 37px;
    transition-timing-function: ease;
    background-color: #09d3ac;
    border: 1px solid #09d3ac;
    transition: width;
}

.status-bar-border{
    border: 1px solid #11aaaa;
    margin: 10px 0 10px 0;
    background-color: #11aaaa;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
