.App {
    background: #fff;
    text-align: left;
    width: 40%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.guess-no {
    font-size: 30px;
    padding-left: 5px;
}

@media (max-width : 425px) {
    .App{
        width: 85%;
    }

    .flex > div > span {
        height: 55px;
    }
}

.tile {
    background: #09d3ac;
    height: 130px;
    border-radius: 10px;
    box-shadow: 4px 5px #404443;
    display: block;
}

.status-bar-fill{
    height: 37px;
    transition-timing-function: ease;
    background-color: #09d3ac;
    border: 1px solid #09d3ac;
    transition: width;
}

.status-bar-border{
    border: 1px solid #11aaaa;
    margin: 10px 0 10px 0;
    background-color: #11aaaa;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
